<div class="container">
  <form class="form" action="{{action}}" method="{{method}}">
    <div class="columns">
      <div class="column">
        {{#formTitle}}
        <h2 class="form__title heading">{{{formTitle}}}</h2>
        {{/formTitle}}
      </div>
    </div>
    <div class="columns">
      {{#fields}}
      <div class="column is-{{size}}">
        {{> molecules-field }}
      </div>
      {{/fields}}
      <div class="column is-8">
        {{> atoms-button(text: "Submit") }}
      </div>
    </div>
  </form>
</div>
