/**
 * Buttons
 * Author: Graffino (http://www.graffino.com)
 */


/**
 * Standard button
 */

.button {
  user-select: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 rem(12);
  border: 0;
  padding: rem(12) rem(24);
  background-color: $color-primary-darker;
  color: white;
  font-size: $font-size-4;
  font-weight: 200;
  line-height: $default-line-height;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transition-custom();
  transition-property: background-color, font-size;

  +below($large) {
    font-size: $default-font-size;
  }

  &:hover {
    background-color: $color-primary;

    & ^[0]__icon {
      transform: translate3d(rem(6), 0, 0);

      &.-align {
        &-left {
          transform: translate3d(rem(-6), 0, 0);
        }
      }
    }
  }

  &.-type {
    &-action {
      background-color: $color-palette-3;
    }
  }

  &.-no-icon-animation {
    &:hover {
      & ^[0]__icon {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &.-size {
    &-small {
      padding: rem(6) rem(12);
      font-size: $font-size-6;

      +below($small) {
        font-size: $font-size-7;
      }
    }
  }

  &.-width {
    &-medium {
      min-width: rem(192);
    }
    &-large {
      min-width: rem(288);
    }
  }

  &.-full-width {
    width: 100%;

    &.-margin {
      &-right {
        &-one {
          // String replacement for rem() inside calc()
          width: "calc(100% - %s)" % $default-line-height;
        }

        &-two {
          // String replacement for rem() inside calc()
          width: "calc(100% - %s)" % ($default-line-height * 2);
        }

        &-three {
          // String replacement for rem() inside calc()
          width: "calc(100% - %s)" % ($default-line-height * 3);
        }
      }
    }
  }

  &.-margin {
    &-right {
      &-one {
        margin-right: $default-line-height;
      }

      &-two {
        margin-right: $default-line-height * 2;
      }

      &-three {
        margin-right: $default-line-height * 3;
      }
    }
    &-top {
      &-one {
        margin-top: $default-line-height;
      }
    }
    &-bottom {
      &-one {
        margin-bottom: $default-line-height;
      }

      &-two {
        margin-bottom: $default-line-height * 2;
      }

      &-three {
        margin-bottom: $default-line-height * 3;
      }
    }
  }

  &.-color {
    &-gray {
      background-color: $color-form-input-background;
      color: $color-text;

      &:hover {
        background-color: $color-primary;
        color: white;

        &:disabled {
            background-color: $color-form-input-background;
            color: $color-text;
        }
      }
    }
  }

  &.-text-size {
    &-normal {
      font-size: $default-font-size;
    }

    &-small {
      font-size: $font-size-6;
    }

    &-xsmall {
      padding: rem(8) rem(24);
      font-size: $font-size-7;
      line-height: $line-height-7;
    }
  }

  &__icon {
    position: relative;
    top: -1px;
    margin-left: rem(4);
    transition: transition-custom();
    transition-property: transform;

    &.-align {
      &-left {
        margin-right: rem(4);
        margin-left: 0;
      }
    }
  }

  &.has-loader {
    & ^[0]__icon {
      &.-loader {
        display: inline-block;
        vertical-align: top;
        width: rem(24);
        height: rem(24);
        background-image: url("../images/svg/svg-loader.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  &:disabled {
    opacity: 0.25;
    cursor: default;

    &:hover {
      background-color: $color-primary-darker;

      & ^[0]__icon {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
