/**
 * Forms
 * Author: Graffino (http://www.graffino.com)
 */


/**
 *  Standard form
 */

.form {
  clearfix();

  &__label {

  }

  &__input,
  &__textarea,
  &__select {

    &:hover {

    }

    &:focus,
    &:active {

    }

    &::placeholder {

    }
  }

  &__input { }
  &__textarea {}

  &__field {
    clearfix();
  }

  &__notice {
    display: none;
  }
}
