/**
 * Typography
 * Author: Graffino (http://www.graffino.com)
 */



/**
 * Headings
 */

h1,
.h1 {
  font-family: $heading-1-font-family;
  font-size: $heading-1-font-size;
  font-weight: $heading-1-font-weight;
  line-height: $heading-1-line-height;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $system-sans-fontface-stack;
  }
}

h2,
.h2 {
  font-family: $heading-2-font-family;
  font-size: $heading-2-font-size;
  font-weight: $heading-2-font-weight;
  line-height: $heading-2-line-height;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $system-sans-fontface-stack;
  }
}

h3,
.h3 {
  font-family: $heading-3-font-family;
  font-size: $heading-3-font-size;
  font-weight: $heading-3-font-weight;
  line-height: $heading-3-line-height;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $system-sans-fontface-stack;
  }
}

h4,
.h4 {
  font-family: $heading-4-font-family;
  font-size: $heading-4-font-size;
  font-weight: $heading-4-font-weight;
  line-height: $heading-4-line-height;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $system-sans-fontface-stack;
  }
}

h5,
.h5 {
  font-family: $heading-5-font-family;
  font-size: $heading-5-font-size;
  font-weight: $heading-5-font-weight;
  line-height: $heading-5-line-height;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $system-sans-fontface-stack;
  }
}

h6,
.h6 {
  font-family: $heading-6-font-family;
  font-size: $heading-6-font-size;
  font-weight: $heading-6-font-weight;
  line-height: $heading-6-line-height;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $system-sans-fontface-stack;
  }
}


/**
 * Heading
 */

.heading {
  position: relative;
  margin: 0;
  padding: 0;
  color: $color-heading;
  word-break: break-word;
  hyphens: auto;

  // Colors
  &.-color {
    &-text {
      color: $color-text;
    }

    &-text-light {
      color: rgba($color-text, 0.7);
    }

    &-text-lighter {
      color: rgba($color-text, 0.5);
    }

    &-error {
      color: $color-form-required-mark;
    }

    &-white {
      color: white;
    }
  }

  // Weights
  &.-font-weight {
    &-200 {
      font-weight: 200;
    }

    &-300 {
      font-weight: 300;
    }

    &-400 {
      font-weight: 400;
    }

    &-500 {
      font-weight: 500;
    }

    &-700 {
      font-weight: 700;
    }
  }

  // Margins
  &.-margin {
    &-top {
      &-one {
        margin-top: $default-line-height;
      }

      &-two {
        margin-top: $default-line-height * 2;
      }

      &-three {
        margin-top: $default-line-height * 3;
      }
    }

    &-bottom {
      &-one {
        margin-bottom: $default-line-height;
      }

      &-two {
        margin-bottom: $default-line-height * 2;
      }

      &-three {
        margin-bottom: $default-line-height * 3;
      }
    }
  }

  &.-size {
    &-h1 {
      $heading-1-font-size   = rem(36);
      $heading-1-line-height = rem(41);
    }

    &-h2 {
      $heading-2-font-size   = rem(32);
      $heading-2-line-height = rem(36);
    }

    &-h3 {
      $heading-3-font-size   = rem(28);
      $heading-3-line-height = rem(32);
    }

    &-h4 {
      $heading-4-font-size   = rem(24);
      $heading-4-line-height = rem(28);
    }

    &-h5 {
      $heading-5-font-size   = rem(22);
      $heading-5-line-height = rem(24);
    }

    &-h6 {
      $heading-6-font-size   = rem(20);
      $heading-6-line-height = rem(22);
    }

    &-small {
      font-size: rem(14);
      line-height: rem(16);
    }

    &-xsmall {
      font-size: rem(12);
      line-height: rem(14);
    }
  }

  // Other
  &.-display-block {
    display: block;
  }

  &.-align-center {
    text-align: center;
  }

  &.-case-upper {
    text-transform: uppercase;
  }

  &.-no-break {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


/**
 * Text
 */

p,
.text {
  color: $color-text;
  font-size: $default-font-size;

  // Weights
  &.-font-weight {
    &-200 {
      font-weight: 200;
    }

    &-300 {
      font-weight: 300;
    }

    &-400 {
      font-weight: 400;
    }

    &-500 {
      font-weight: 500;
    }

    &-700 {
      font-weight: 700;
    }
  }

  // Others
  &.-align {
    &-center {
      display: block;
      text-align: center;
    }

    &-right {
      display: block;
      text-align: right;
    }
  }
}


/**
 * Links
 */

.link {
  position: relative;
  display: inline-block;
  color: $default-link-color;
  font-weight: 200;
  text-decoration: none;
  transition: transition-custom();
  transition-property: color;

  &:hover {
    color: $default-link-hover;
  }
}


/**
 * Lists
 */

.list {
  margin: 0;
  padding: 0;
  text-align: left;

  &.-style {
    &-none {
      list-style: none;
    }

    &-roman {
      list-style-type: upper-roman;

      .list__item {
        &::before {
          text-align: left;
        }
      }
    }
  }
}
