/**
 * Typography
 * Author: Graffino (http://www.graffino.com)
 */


/**
 * Headings
 */

h1,
.h1 {
  font-family: $heading-1-font-family;
  font-size: $heading-1-font-size;
  font-weight: $heading-1-font-weight;
  line-height: $heading-1-line-height;
  letter-spacing: $heading-1-letter-spacing;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $heading-1-default-stack;
  }
}

h2,
.h2 {
  font-family: $heading-2-font-family;
  font-size: $heading-2-font-size;
  font-weight: $heading-2-font-weight;
  line-height: $heading-2-line-height;
  letter-spacing: $heading-2-letter-spacing;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $heading-2-default-stack;
  }
}

h3,
.h3 {
  font-family: $heading-3-font-family;
  font-size: $heading-3-font-size;
  font-weight: $heading-3-font-weight;
  line-height: $heading-3-line-height;
  letter-spacing: $heading-3-letter-spacing;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $heading-3-default-stack;
  }
}

h4,
.h4 {
  font-family: $heading-4-font-family;
  font-size: $heading-4-font-size;
  font-weight: $heading-4-font-weight;
  line-height: $heading-4-line-height;
  letter-spacing: $heading-4-letter-spacing;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $heading-4-default-stack;
  }
}

h5,
.h5 {
  font-family: $heading-5-font-family;
  font-size: $heading-5-font-size;
  font-weight: $heading-5-font-weight;
  line-height: $heading-5-line-height;
  letter-spacing: $heading-5-letter-spacing;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $heading-5-default-stack;
  }
}

h6,
.h6 {
  font-family: $heading-6-font-family;
  font-size: $heading-6-font-size;
  font-weight: $heading-6-font-weight;
  line-height: $heading-6-line-height;
  letter-spacing: $heading-6-letter-spacing;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $heading-6-default-stack;
  }
}


/**
 * Heading
 */

.heading {
  position: relative;
  color: $color-heading;

  // Colors
  &.-color-white {
    color: white;
  }

  // Weights
  &.-weight-normal {
    font-weight: 400;
  }
  &.-weight-bold {
    font-weight: 700;
  }
  &.-weight-black {
    font-weight: 800;
  }
  &.-weight-extra-black {
    font-weight: 800;
  }

  // Margins
  &.-no-margin {
    margin: 0;
  }
  &.-no-margin-top {
    margin-top: 0;
  }
  &.-no-margin-bottom {
    margin-bottom: 0;
  }

  // Sizes
  &.-size-1 {
    font-size: $heading-1-font-size;
    line-height: $heading-1-line-height;
  }
  &.-size-2 {
    font-size: $heading-2-font-size;
    line-height: $heading-2-line-height;
  }
  &.-size-3 {
    font-size: $heading-3-font-size;
    line-height: $heading-3-line-height;
  }
  &.-size-4 {
    font-size: $heading-4-font-size;
    line-height: $heading-4-line-height;
  }
  &.-size-5 {
    font-size: $heading-5-font-size;
    line-height: $heading-5-line-height;
  }
  &.-size-6 {
    font-size: $heading-6-font-size;
    line-height: $heading-6-line-height;
  }
  &.-size-7 {
    font-size: $heading-7-font-size;
    line-height: $heading-7-line-height;
  }

  // Other
  &.-display-block {
    display: block;
  }
  &.-align-center {
    text-align: center;
  }
  &.-case-upper {
    text-transform: uppercase;
  }
  &.-no-break {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


/**
 * Text
 */

.text {
  color: $default-color;
  font-size: $default-font-size;

  // Colors
  &.-color-white {
    color: white;
  }

  // Sizes
  &.-size-huge {
    font-size: $font-size-huge;
    line-height: $line-height-huge;
  }
  &.-size-1 {
    font-size: $font-size-1;
    line-height: $line-height-1;
  }
  &.-size-2 {
    font-size: $font-size-2;
    line-height: $line-height-2;
  }
  &.-size-3 {
    font-size: $font-size-3;
    line-height: $line-height-3;
  }
  &.-size-4 {
    font-size: $font-size-4;
    line-height: $line-height-4;
  }
  &.-size-5 {
    font-size: $font-size-5;
    line-height: $line-height-5;
  }
  &.-size-6 {
    font-size: $font-size-6;
    line-height: $line-height-6;
  }

  // Weights
  &.-weight-normal {
    font-weight: 400;
  }
  &.-weight-bold {
    font-weight: 700;
  }
  &.-weight-black {
    font-weight: 800;
  }

  // Others
  &.-align-center {
    display: block;
    text-align: center;
  }
}


/**
 * Links
 */

.link {
  position: relative;
  display: inline-block;

  &:hover {

  }
}


/**
 * Lists
 */

.list {
  margin: 0;
  padding: 0;
  text-align: left;

  &.-style {
    &-none {
      list-style: none;
    }

    &-roman {
      list-style-type: upper-roman;

      .list__item {
        &::before {
          text-align: left;
        }
      }
    }
  }
}
