<div class="form__field">
  {{#label}}
    <label class="form__label" for="field-{{name}}">{{label}}</label>
  {{/label}}
  {{> atoms-input-text }}
  {{#hint}}
    <span class="form__hint">{{{hint}}}</span>
  {{/hint}}
</div>
