<div class="form__input-wrapper">
  <input
    id="field-{{name}}"
    class="form__input"
    type="text"
    name="{{name}}"
    placeholder="{{placeholder}}"
    {{#disabled}} disabled="disabled" {{/disabled}}
    {{#required}} required {{/required}}
  />
</div>
