<div class="form__dropdown-wrapper">
  <select
    id="field-{{name}}"
    class="form__checkbox js-select"
    type="checkbox"
    name="{{name}}"
    {{#disabled}} disabled="disabled" {{/disabled}}
    {{#required}} required {{/required}}
  >
    {{#options}}
      <option
        value="{{value}}"
        {{#disabledOption}} disabled {{/disabledOption}}
        {{#selected}} selected {{/selected}}
      >{{{label}}}</option>
    {{/options}}
  </select>
</div>
