<input
  id="field-{{name}}"
  class="form__checkbox"
  type="checkbox"
  name="{{name}}"
  value="{{value}}"
  {{checked=(iftrue checked "checked")}}
/>
<label
  for="field-{{name}}"
><span></span></label>
