<div class="form__radio-wrapper">
  <input
    id="field-{{name}}-{{value}}"
    class="form__radio"
    type="radio"
    name="{{name}}"
    value="{{value}}"
  /><label
    for="field-{{name}}-{{value}}"
  ><span></span></label>
  <label
    class="form__label -type-checkbox"
    for="field-{{name}}-{{value}}"
  >{{{label}}}</label>
</div>
