<textarea
  id="field-{{name}}"
  class="form__textarea"
  name="{{name}}"
  placeholder="{{placeholder}}"
  cols="{{cols}}"
  {{#disabled}} disabled="disabled" {{/disabled}}
  {{#required}} required {{/required}}
></textarea>
