//
// Name: Button
// Author: Graffino (http://www.graffino.com)
//

/**
 * Standard button
 */

.button {
    
    &:hover { }
    
    .icon { }
    
    &.-background-darker {
        
        &:hover { }
    }
    
    &.-size-large { }
    
    &.-width-auto { }
    
    &.-color-white { }

    &.-type-text { }
}

.button--default {
    @extends .button;
}
