//
// Name: Form
// Author: Graffino (http://www.graffino.com)
//

/**
 * Standard form
 */

.form {
    cf();

    &__input { }
    &__textarea { }
    &__select { }
    &__checkbox { }
    
    &__button { }
    &__notice { }
}
