//
// Name: Heading
// Author: Graffino (http://www.graffino.com)
//

/**
 * Heading
 */

.heading {
    
    &.-color-white { }
    
    &.-font-family-sans {
        font-family: $heading-font-sans-serif;
    }
    
    &.-font-family-serif {
        font-family: $heading-font-serif;
    }
    
    &.-no-margin { }
    
    &.-no-margin-bottom { }
        
    &.-align-center { }
    
    &.-size-large {
        @extends $h1;
    }
    &.-size-normal {
        @extends $h2;
    }
    &.-size-medium {
        @extends $h3;
    }
    &.-size-small {
        @extends $h4;
    }

    &.-case-uppercase { }
}
