//
// Name: Header
// Author: Graffino (http://www.graffino.com)
//

/**
 * Main header
 */
.header {
    cf();
    background-color: $color-background;
    
    &__logo {
        display: inline-block;
    }
    
    &__nav { }
}
