//
// Name: Link
// Author: Graffino (http://www.graffino.com)
//

/**
 * Link
 */

.link {
    display: inline-block;
    transition-custom($property = color);
    
    &:hover { }
        
    &.-no-underline { }
    
    &.-color-white { }
    
    &.-size-small { }
    
    &.-size-xsmall { }
}
