//
// Name: Section
// Author: Graffino (http://www.graffino.com)
//

/**
 * Section
 */

.section {
    position: relative;
    
/**
 * Frontpage
 */
    .content {
        cf();
        center(rem($width-container));
        
        .row {
            cf();
            
            &.-no-padding { }
        }
    }


/**
 * Typography
 */

// Headings
    h1 {
        @extends $h1;
    }
    h2 {
        @extends $h2;
    }
    h3 {
        @extends $h3;
    }
    h4 {
        @extends $h4;
    }

// Links
    a:not(.button) {
        @extends .link;
    }

// Text
    span:not(.button), p, .text {
        @extends .text;
    }
    
    &.-no-padding { }
}
