//
// Main stylus file
// Author: Graffino (http://www.graffino.com)
//


/**
 * Dependencies
 */

// Jeet
@import "../../node_modules/jeet/styl/index";
// Normalizer
@import "../../node_modules/normalize.styl/_normalize";
// Rupture
@import "../../node_modules/rupture/rupture/index";
// Generated SVG Sprite
@import "lib/sprite";


/**
 * Base
 */

// General variables
@import "common/variables";
// Mixins
@import "common/mixins";
// Color variables
@import "common/colors";
// Fonts and sizes variables
@import "common/fonts";
// Icons
@import "common/icons";

// Common styles and extends
@import "common/common";

// Grid — custom 12 column grid
@import "common/grid";


/**
 * Helper classes
 */

// Helper classes (e.g. ".h-float-left");
@import "common/helpers";


/**
 * Modules
 */

// Typography — body copy, headings, lists, blockquotes, etc
@import "modules/typography";
// Header — styles and modules
@import "modules/header";
// Page sections — project specific areas
@import "modules/section";
// Navigation — desktop & mobile
@import "modules/nav";
// Form elements - styles
@import "modules/form";
// Button — styles and sizes
@import "modules/button";
// Page - inner page
@import "modules/page";
// Footer — styles
@import "modules/footer";


/**
 * Stylus console
 */

// Sort of a (pseudo-)console for exporting values to the front-end
@import "common/console";
