//
// Name: Main Stylus File
// Author: Graffino (http://www.graffino.com)
//


/**
 * Dependencies
 */

// Jeet
@import "../../node_modules/jeet/stylus/jeet/index";
// Normalizer
@import "../../node_modules/normalize.styl/_normalize";
// Rupture
@import "../../node_modules/rupture/rupture/index";
// Generated SVG Sprite
@import "lib/sprite";


/**
 * Base
 */

// General variables
@import "base/variables";
// Color variables
@import "base/colors";
// Mixins
@import "base/mixins";
// Font faces loading
@import "base/fonts";
// Icons
@import "base/icons";
// Vertical rhythm
@import "base/vertical-rhythm";
// Grid
@import "base/grid";
// Helper classes (e.g. ".h-float-left");
@import "base/helpers";


/**
 * Common CSS styling files
 */


/**
 * Console
 */

// Sort of a (pseudo-)console for exporting values to the front-end
@import "base/console";
