//
// Stylus colors
// Author: Graffino (http://www.graffino.com)
//


/**
 * Backgrounds
 */

$color-background         = white;


/**
 * Accent/Main color
 */

$color-primary            = black;


/**
 * Text
 */

$color-text               = black;


/**
 * Heading
 */

$color-heading            = black;


/**
 * Default Links
 */

$color-link-default       = $color-primary;
$color-link-default-hover = $color-text;


/**
 * Defaults
 */

$default-color            = $color-text;
