//
// Stylus colors
// Author: Graffino (http://www.graffino.com)
//


/**
 * Backgrounds
 */

$color-background         = white;


/**
 * Accent/Main color
 */

$color-primary            = black;


/**
 * Text
 */

$color-text               = black;


/**
 * Heading
 */

$color-heading            = black;


/**
 * Default Links
 */

$color-link-default       = $color-primary;
$color-link-default-hover = $color-text;


/**
 * Defaults
 */

$default-color            = $color-text;


/**
 * Grid colors and variables
 */

$color-grid-baseline      = #2E7DFF;
$color-grid-hanglines     = #02F0FF;
$color-grid-margins       = #E83838;
