//
// Fonts and sizes
// Author: Graffino (http://www.graffino.com)
//

/**
 *  Extra Light, Ultra Light = 100
 *  Light, Thin = 200
 *  Book, Demi = 300
 *  Normal, Regular = 400
 *  Medium = 500
 *  SemiBold, Demibold = 600
 *  Bold = 700
 *  Black, ExtraBold, Heavy = 800
 *  Extra Black, Fat, Poster, UltraBlack = 900
 */


/**
 * FontName
 */

// Regular - 400
webfont("FontName", "font-name-regular", 400, normal);
// Bold - 700
webfont("FontName", "font-name-bold", 700, normal);
// Italic - 400
webfont("FontName", "font-name-italic", 400, normal);


/**
 * Fontfaces
 */

$sans-fontface               = "FontName Sans";
$serif-fontface              = "FontName Serif";
$cursive-fontface            = "FontName Cursive";

// Font-families stack
$sans-fontface-stack         = $sans-fontface, Helvetica, Arial, sans-serif;
$serif-fontface-stack        = $serif-fontface, Georgia, "Times New Roman", Times, serif;
$cursive-fontface-stack      = $cursive-fontface, cursive, sans-serif;

// System fontface stacks used when webfonts are not loaded
$system-sans-fontface-stack  = "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$system-serif-fontface-stack = "Georgia", "Times New Roman", Times, serif;


/**
 * Headings
 */

// H1 - Home
$heading-huge-font-family   = $sans-fontface-stack;
$heading-huge-font-weight   = 100;
$heading-huge-font-size     = rem(120);
$heading-huge-line-height   = 1;

// H1 - Inner pages
$heading-xl-font-family     = $sans-fontface-stack;
$heading-xl-font-weight     = 100;
$heading-xl-font-size       = rem(60);
$heading-xl-line-height     = 1.2;

// H2
$heading-large-font-family  = $sans-fontface-stack;
$heading-large-font-weight  = 100;
$heading-large-font-size    = rem(40);
$heading-large-line-height  = 1.3;

// H3
$heading-normal-font-family = $sans-fontface-stack;
$heading-normal-font-weight = 100;
$heading-normal-font-size   = rem(30);
$heading-normal-line-height = 1.3;

// H4
$heading-medium-font-family = $sans-fontface-stack;
$heading-medium-font-weight = 100;
$heading-medium-font-size   = rem(20);
$heading-medium-line-height = 1.4;

// H5
$heading-small-font-family  = $sans-fontface-stack;
$heading-small-font-weight  = 100;
$heading-small-font-size    = rem(18);
$heading-small-line-height  = 1;

// H6
$heading-xsmall-font-family = $sans-fontface-stack;
$heading-xsmall-font-weight = 100;
$heading-xsmall-font-size   = rem(16);
$heading-xsmall-line-height = 1;


/**
 * Font sizes
 */

$font-size-huge     = rem(40);
$line-height-huge   = 1.3;

$font-size-xxl      = rem(30);
$line-height-xxl    = 1.3;

$font-size-xl       = rem(20);
$line-height-xl     = 1.3;

$font-size-large    = rem(18);
$line-height-large  = 1.3;

$font-size-normal   = rem(16); // body copy
$line-height-normal = 1.5;

$font-size-medium   = rem(14);
$line-height-medium = 1.2;

$font-size-small    = rem(12);
$line-height-small  = 1.2;

$font-size-xsmall   = rem(10);
$line-height-xsmall = 1;


/**
 * Default sizes
 */

$default-font-size           = rem(18);
$default-line-height         = 1.2;
