//
// Name: Fonts
// Author: Graffino (http://www.graffino.com)
//

/**
 *  Extra Light, Ultra Light = 100
 *  Light, Thin = 200
 *  Book, Demi = 300
 *  Normal, Regular = 400
 *  Medium = 500
 *  SemiBold, Demibold = 600
 *  Bold = 700
 *  Black, ExtraBold, Heavy = 800
 *  Extra Black, Fat, Poster, UltraBlack = 900
 */

/**
 * Font name
 */
// Font Style
//webfont("Font Name", "File Name", FontWeight, FontStyle);
