//
// Name: Helpers
// Author: Graffino (http://www.graffino.com)
//


/**
 * Global helpers
 */

.h {
    // Show only on specific viewport size
    &-show-for {
        &-tablet-up {
            +below($tablet) {
                display: none !important;
            }
        }

        &-tablet-down {
            +above($tablet + 1) {
                display: none !important;
            }
        }

        &-mobile-up {
            +below($mobile) {
                display: none !important;
            }
        }

        &-mobile-down {
            +above($mobile + 1) {
                display: none !important;
            }
        }
    }

    // Hide for specific viewport size
    &-hide-for {
        &-tablet-up {
            +above($tablet + 1) {
                display: none !important;
            }
        }

        &-tablet-down {
            +below($tablet) {
                display: none !important;
            }
        }

        &-mobile-up {
            +above($mobile + 1) {
                display: none !important;
            }
        }

        &-mobile-down {
            +below($mobile) {
                display: none !important;
            }
        }
    }

    // Center for specific viewport size
    &-center-for {
        &-tablet-down {
            +below($tablet) {
                text-align: center;
            }
        }

        &-mobile-down {
            +below($mobile) {
                text-align: center;
            }
        }
    }

    // Make image responsive
    &-responsive-image {
        width: 100%;
        height: auto;
    }

    // Hide element visually without removing it
    &-visually-hidden {
        overflow: hidden !important;
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        margin: -1px !important;
        border: 0 !important;
        padding: 0 !important;
        clip: rect(0 0 0 0) !important;
    }

    // Overflow hidden
    &-overflow {
        &-hidden {
            overflow: hidden;
        }
    }

    // Alignment
    &-align-left {
        text-align: left !important;
    }

    &-align-right {
        text-align: right !important;
    }

    &-align-center {
        text-align: center !important;
    }

    // Floats
    &-float-left {
        float: left !important;
    }

    &-float-right {
        float: right !important;
    }

    &-clear {
        cf();

        &-both {
            clear: both;
        }
    }

    // Text case
    &-case-normal {
        text-transform: none !important;
    }

    &-case-uppercase {
        text-transform: uppercase !important;
    }

    // Text color
    &-color-inherit {
        color: inherit !important;
    }

    // Center
    &-center {
        // Make sure the element doesn't have a float,
        // otherwise the helper doesn't work
        float: none !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    // Paddings
    &-no-padding {
        padding: 0 !important;
    }

    &-no-padding-top {
        padding-top: 0 !important;
    }

    &-no-padding-bottom {
        padding-bottom: 0 !important;
    }

    &-no-padding-right {
        padding-right: 0 !important;
    }

    &-no-padding-left {
        padding-left: 0 !important;
    }

    // Margins
    &-no-margin {
        margin: 0 !important;
    }

    &-no-margin-top {
        margin-top: 0 !important;
    }

    &-no-margin-bottom {
        margin-bottom: 0 !important;
    }

    &-no-margin-right {
        margin-right: 0 !important;
    }

    &-no-margin-left {
        margin-left: 0 !important;
    }

    // Display table
    &-display-table {
        display: table;
    }

    &-display-block {
        display: block;
    }

    // Align vertically via table method
    &-vertical-align {
        display: table-cell !important;
        vertical-align: middle;
    }

    // Set viewport width / height
    &-viewport-height {
        min-height: 100vh;
    }

    &-viewport-width {
        min-width: 100vh;
    }

    // Height 100%
    &-full-height {
        min-height: 100%;
    }

    // Disable pointer events
    &-no-pointer-events {
        pointer-events: none;
    }

    // Word-break
    &-word-break {
        &-all {
            word-break: break-all;
        }
    }

    &-nowrap {
        white-space: nowrap;
    }

    // Position
    &-position {
        &-relative {
            position: relative !important;
        }

        &-absolute {
            position: absolute !important;
        }
    }

    // Z Indexes
    &-z-index {
        &-0 {
            z-index: 0 !important;
        }
        &-10 {
            z-index: 10 !important;
        }
        &-20 {
            z-index: 20 !important;
        }
        &-30 {
            z-index: 30 !important;
        }
        &-40 {
            z-index: 40 !important;
        }
        &-50 {
            z-index: 50 !important;
        }
        &-60 {
            z-index: 60 !important;
        }
        &-70 {
            z-index: 70 !important;
        }
        &-80 {
            z-index: 80 !important;
        }
        &-90 {
            z-index: 90 !important;
        }
        &-100 {
            z-index: 100 !important;
        }
        &-max {
            z-index: 9999 !important;
        }
    }
}
