//
// Name: SVG Sprites
// Author: Graffino (http://www.graffino.com)
//

/**
 * Mustache template
 */

// @stylint off
sprite() {
    background-image: url("../images/sprite.svg");
    background-size: rem(104) rem(104);
    background-repeat: no-repeat;
}
svg-file() { 
    sprite(); 
    background-position: rem(0) rem(0);
}
svg-file-dims() { 
    width: rem(104);
    height: rem(104);
}

// @stylint on
