//
// Name  : Stylus Variables
// Author: Graffino (http=//www.graffino.com)
//

/**
 * Container widths
 */

$width-container           = 1200px; // maximum width of non-fullwidth content
$width-columns-gutter      = $unit; // gutter width

/**
 * Fontfaces
 */

// Fontfaces
$sans-fontface             = "Montserrat";
$sans-fontface-alt         = "PT Sans";
$serif-fontface            = "PT Serif";
$cursive-fontface          = "Rochester";
$sans-fontface-sc          = "Montserrat SC";
$serif-fontface-sc         = "PT Serif SC";

// Font-families stack
$sans-stack                = $sans-fontface, Helvetica, Arial, sans-serif;
$sans-stack-alt            = $sans-fontface-alt, Helvetica, Arial, sans-serif;
$serif-stack               = $serif-fontface, Georgia, "Times New Roman", Times, serif;
$cursive-stack             = $cursive-fontface, cursive, sans-serif;
$sans-stack-sc             = $sans-fontface-sc, Helvetica, Arial, sans-serif; // Small Caps
$serif-stack-sc            = $serif-fontface-sc, Georgia, "Times New Roman", Times, serif; // Small Caps

// Headings default fontface
$heading-fontface          = $sans-fontface;

// Default text size
$default-text-size         = $text-size-normal;

// Headings font-weight
$font-weight-headings      = 200 100 100 100 100 100 100 100; // h6, h5, h4, h3, h2, h1, h1-xl, h1-xxl

// Headings font-weight
$transform-headings        = normal normal normal normal normal normal normal normal; // h6, h5, h4, h3, h2, h1, h1-xl, h1-xxl

// Border radius for rounded corners (default 0)
$border-radius             = 0;
$border-radius-form-fields = 4;


/**
 * Base font sizes for EM / REM
 */

$base-font-size            = 100%;
$base-font-size-px         = $body-copy-size;


/**
 * Folders
 */

$url-images                = "../images";
$url-fonts                 = "../fonts";


/**
 * Breakpoints
 */

$xlarge                    = 1249px;
$desktop                   = 1119px;
$large                     = 1049px;
$medium                    = 939px;
$tablet                    = 767px;
$small                     = 639px;
$xsmall                    = 479px;
$iphone6p                  = 413px;
$iphone6                   = 374px;
$mobile                    = 319px;

$scale                     = 0 319px 360px 374px 413px 479px 639px 767px 939px 1049px 1149px 1249px;
