<!--
//
// Module: ModuleName
// Author: Graffino (http://www.graffino.com)
//
-->


<div class="module">
    <h1 class="module__title">{{module.title}}</h1>
    <div class="module__content">
        <ul class="module__list">
            {{> partialName }}
        </ul>
    </div>
</div>
