<!--
//
// Module template
// Author: Graffino (http://www.graffino.com)
//
-->


<div class="module">
    <h1 class="module__title">{{module.title}}</h1>
    <div class="module__content">
        {{#times module.list}}
            <span class="module__item"></span>
        {{/times}}
    </div>
</div>
