/**
 * Main stylesheet (stylus) file
 * Author: Graffino (http://www.graffino.com)
 */


/**
 * Dependencies
 */

// Jeet
@import "../../node_modules/jeet/styl/index";
// Normalizer
@import "../../node_modules/normalize.styl/_normalize";
// Rupture
@import "../../node_modules/rupture/rupture/index";

// Generated SVG icon sprite
@import "vendor/sprite";


/**
 * Common
 */

// Stylus CSS Console
@import "common/console";
// Mixins
@import "common/mixins";
// Breakpoints
@import "common/breakpoints";
// Colors
@import "common/colors";
// Fonts & sizes
@import "common/fonts";
// Helpers
@import "common/helpers";
// Custom grid
@import "common/grid";
// Default styles
@import "common/defaults";


/**
 * Modules
 */

// Typography — body copy, headings, lists, blockquotes, etc
@import "modules/typography";
// Header — styles and modules
@import "modules/header";
// Page sections — project specific areas
@import "modules/sections";
// Menus — desktop & mobile
@import "modules/menus";
// Form elements - styles
@import "modules/formss";
// Button — styles and sizes
@import "modules/button";
// Page - inner page
@import "modules/pages";
// Footer — styles
@import "modules/footer";
