/**
 * Main stylus file
 * Author: Graffino (http://www.graffino.com)
 */


/**
 * Dependencies
 */

// Jeet
@import "../../node_modules/jeet/styl/index";
// Rupture
@import "../../node_modules/rupture/rupture/index";


/**
 * Base
 */

// Stylus CSS Console
@import "common/console";
// Mixins
@import "common/mixins";
// Breakpoints
@import "common/breakpoints";
// Color variables
@import "common/colors";
// Fonts and sizes variables
@import "common/fonts";
// Animations
@import "common/animations";
// Helpers
@import "common/helpers";
// Grid — custom 12 column grid
@import "common/grid";
// Common styles and extends
@import "common/defaults";


/**
 * Vendor styling
 */

// Generated SVG icon sprite
@import "vendor/sprite";
// Plugins


/**
 * Modules
 */

// Typography — body copy, headings, lists, blockquotes, etc
@import "modules/typography";
// Header — styles and modules
@import "modules/header";
// Page sections — project specific areas
@import "modules/section";
// Navigation — desktop & mobile
@import "modules/nav";
// Form elements - styles
@import "modules/form";
// Button — styles and sizes
@import "modules/button";
// Page - inner page
@import "modules/page";
// Footer — styles
@import "modules/footer";
