//
// Name: Plugins
// Author: Graffino (http://www.graffino.com)
//

/**
 * h5Validate
 */
.form .ui-state-error {
    border: 2px solid red;

    &::placeholder {
        color: red;
    }
}

.form .ui-state-valid { }
