/**
 * Breakpoints
 * Author: Graffino (http://www.graffino.com)
 */


/**
 * Rupture breakpoints
 */

$xlarge            = 1249px;
$desktop           = 1119px;
$large             = 1049px;
$medium            = 939px;
$tablet            = 767px;
$small             = 639px;
$xsmall            = 479px;
$iphone6p          = 413px;
$iphone6           = 374px;
$mobile            = 319px;

$scale             = 0 319px 360px 374px 413px 479px 639px 767px 939px 1049px 1149px 1249px;
