/**
 * Color variables
 * Author: Graffino (http://www.graffino.com)
 */


/**
 * Backgrounds
 */

$color-background             = white;


/**
 * Palette
 */

$color-palette-1              = #007AC3;
$color-palette-2              = #85BC20;
$color-palette-3              = #E5202E;
$color-palette-4              = #FFEEB2;
$color-palette-5              = #474747;

$color-primary                = $color-palette-1;
$color-primary-darker         = darken($color-palette-1, 14%);
$color-accent                 = $color-palette-2;


/**
 * Text
 */

$color-text                   = $color-palette-5;


/**
 * Headings
 */

$color-heading                = $color-palette-1;
$color-heading-1              = $color-palette-1;
$color-heading-2              = $color-palette-1;
$color-heading-3              = $color-palette-1;
$color-heading-4              = $color-palette-1;
$color-heading-5              = $color-palette-1;
$color-heading-6              = $color-palette-1;


/**
 * Links
 */

$color-link-1                 = $color-palette-1;
$color-link-1-hover           = $color-text;


/**
 * Form Elements
 */

$color-form-required-mark     = #E61B28;
$color-form-input-background  = #ECECEC;

$color-form-notice-text       = white;
$color-form-notice-background = #E61B28;


/**
 * Defaults
 */

$default-color                = $color-text;
$default-link-color           = $color-link-1;
$default-link-hover           = $color-link-1-hover;
