/**
 * Color variables
 * Author: Graffino (http://www.graffino.com)
 */


/**
 * Backgrounds
 */

$color-background = white;


/**
 * Palette
 */

$color-palette-1 = black;
$color-palette-2 = white;


/**
 * Text
 */

$color-text = $color-palette-1 ;


/**
 * Headings
 */

$color-heading-1 = $color-palette-1;
$color-heading-2 = $color-palette-1;
$color-heading-3 = $color-palette-1;
$color-heading-4 = $color-palette-1;
$color-heading-5 = $color-palette-1;
$color-heading-6 = $color-palette-1;


/**
 * Links
 */

$color-link-1       = $color-palette-1;
$color-link-1-hover = $color-text;


/**
 * Defaults
 */

$default-color      = $color-text;
$default-link-color = $color-link-1;
$default-link-hover = $color-link-1-hover;
