/**
 * Defaults
 * Author: Graffino (http://www.graffino.com)
 */

// Variables
focus-outline = @block {
  outline: none;
  box-shadow: 0 0 0 rem(3) rgba($color-pallete-1, 0.12);
}


/**
 * Globals
 */

* {
  // Border-box
  box-sizing: border-box;

  // Custom focus state for DOM elements
  &:focus {
    {focus-outline}; // @stylint ignore
  }
}

// HTML
html {
  position: relative;

  // Font rendering
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
}

// Body
body {
  // Defaults
  overflow-x: hidden;
  min-width: rem(320);
  background-color: $color-background;
  color: $default-color;
  font-family: $default-fontface-stack;
  font-size: $default-font-size;
  line-height: $default-font-size;

  &.has-background-white {
    background-color: white;
  }

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $default-system-stack;
  }
}

html,
body {
  // Enable scroll momentum on iPhone Safari (webkit)
  -webkit-overflow-scrolling: touch;
}

.main {
  clearfix();
  margin: rem(32) 0;
  padding: rem(48) 0 rem(96);
  background-color: $color-content-background;
  transition: transition-custom();
  transition-property: margin;

  +below($large) {
    margin: rem(16) 0;
  }
}
