/**
 * Custom grid
 * Author: Graffino (http://www.graffino.com)
 */


// Variables
$width-container = 1200px; // Maximum width of non-fullwidth content
$columns-gutter  = 16px; // Default column gutter width


/**
 * Grid
 */

// Container
.grid {
  clearfix();
  width: auto;
  margin: 0 auto;
  padding: 0 rem(48);

  &.-fixed-width {
    center(rem($width-container), pad = rem(48));
  }

  &.is-debug {
    edit();
    * {
      transition: transition-custom($property = background);
    }
  }

  // Row
  &__row {
    clearfix();
    margin-right: rem(-($columns-gutter / 2));
    margin-left: rem(-($columns-gutter / 2));

    &.-margin-bottom {
      &-one {
        margin-bottom: $default-line-height;
      }

      &-two {
        margin-bottom: $default-line-height * 2;
      }

      &-three {
        margin-bottom: $default-line-height * 3;
      }

      &-four {
        margin-bottom: $default-line-height * 4;
      }
    }
  }

  // Column
  &__column {
    clearfix();
    padding: 0 rem($columns-gutter / 2);
    transition: transition-custom();
    transition-property: left, right, width, margin, padding;

    &.-one {
      span(1/12);
    }
    &.-two {
      span(2/12);
    }
    &.-three {
      span(3/12);
    }
    &.-four {
      span(4/12);
    }
    &.-five {
      span(5/12);
    }
    &.-six {
      span(6/12);
    }
    &.-seven {
      span(7/12);
    }
    &.-eight {
      span(8/12);
    }
    &.-nine {
      span(9/12);
    }
    &.-ten {
      span(10/12);
    }
    &.-eleven {
      span(11/12);
    }
    &.-twelve {
      span(12/12);
    }
    &.-offset-right {
      &-one {
        move(1/12);
      }
      &-two {
        move(2/12);
      }
      &-three {
        move(3/12);
      }
      &-four {
        move(4/12);
      }
      &-five {
        move(5/12);
      }
      &-six {
        move(6/12);
      }
      &-seven {
        move(7/12);
      }
      &-eight {
        move(8/12);
      }
      &-nine {
        move(9/12);
      }
      &-ten {
        move(10/12);
      }
      &-eleven {
        move(11/12);
      }
      &-twelve {
        move(12/12);
      }
    }
    &.-offset-left {
      &-one {
        move(-1/12);
      }
      &-two {
        move(-2/12);
      }
      &-three {
        move(-3/12);
      }
      &-four {
        move(-4/12);
      }
      &-five {
        move(-5/12);
      }
      &-six {
        move(-6/12);
      }
      &-seven {
        move(-7/12);
      }
      &-eight {
        move(-8/12);
      }
      &-nine {
        move(-9/12);
      }
      &-ten {
        move(-10/12);
      }
      &-eleven {
        move(-11/12);
      }
      &-twelve {
        move(-12/12);
      }
    }

    & &.-clear {
      &-both {
        clear: both;
      }
    }

    &.-twelve-from {
      &-large-down {
        +below($large) {
          span(12/12);
          unmove();
        }
      }

      &-tablet-down {
        +below($tablet) {
          span(12/12);
          unmove();
        }
      }

      &-small-down {
        +below($small) {
          span(12/12);
          unmove();
        }
      }
    }

    &.-six-from {
      &-large-down {
        +below($large) {
          span(6/12);
          unmove();
        }
      }

      &-tablet-down {
        +below($tablet) {
          span(6/12);
          unmove();
        }
      }

      &-small-down {
        +below($small) {
          span(6/12);
          unmove();
        }
      }
    }

    & &.-margin-bottom {
      &-one {
        &-from-large-down {
          +below($large) {
            margin-bottom: $default-line-height;
          }
        }

        &-from-tablet-down {
          +below($tablet) {
            margin-bottom: $default-line-height;
          }
        }

        &-from-small-down {
          +below($small) {
            margin-bottom: $default-line-height;
          }
        }
      }

      &-two {
        &-from-large-down {
          +below($large) {
            margin-bottom: $default-line-height * 2;
          }
        }

        &-from-tablet-down {
          +below($tablet) {
            margin-bottom: $default-line-height * 2;
          }
        }

        &-from-small-down {
          +below($small) {
            margin-bottom: $default-line-height * 2;
          }
        }
      }

      &-three {
        &-from-large-down {
          +below($large) {
            margin-bottom: $default-line-height * 3;
          }
        }

        &-from-tablet-down {
          +below($tablet) {
            margin-bottom: $default-line-height * 3;
          }
        }

        &-from-small-down {
          +below($small) {
            margin-bottom: $default-line-height * 3;
          }
        }
      }

      &-four {
        &-from-large-down {
          +below($large) {
            margin-bottom: $default-line-height * 4;
          }
        }

        &-from-tablet-down {
          +below($tablet) {
            margin-bottom: $default-line-height * 4;
          }
        }

        &-from-small-down {
          +below($small) {
            margin-bottom: $default-line-height * 4;
          }
        }
      }
    }
  }
}
