{#
  Page: Index
  Author: Graffino (http://www.graffino.com)
#}
{% set language = "en" %}
{% extends "layouts/app.njk" %}
{% block content %}
<main class="main">
  <article class="hero">
    <div class="grid">
      <div class="module js-template-module">
        <!-- Dynamic template data -->
      </div>
    </div>
  </article><!-- .hero -->
  <article class="section">
    <div class="grid debug">
      <h2>Columns example</h2>
      <h3>12 Column Container</h3>
      <h6><em>Press F2 for grid and F3 for console.</em></h6>
      <div class="grid__row">
        <div class="grid__column -one">
          <p class="text -align-center">1</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">2</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">3</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">4</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">5</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">6</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">7</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">8</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">9</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">10</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">11</p>
        </div>
        <div class="grid__column -one">
          <p class="text -align-center">12</p>
        </div>
      </div><!-- .grid__row -->
      <div class="grid__row">
        <div class="grid__column -ten -offset-right-one">
          <h1 class="heading">The quick brown fox jumps over the lazy dog.</h1>
          <h2 class="heading">The quick brown fox jumps over the lazy dog.</h2>
          <h3 class="heading">The quick brown fox jumps over the lazy dog.</h3>
          <h4 class="heading">The quick brown fox jumps over the lazy dog.</h4>
          <h5 class="heading">The quick brown fox jumps over the lazy dog.</h5>
          <h6 class="heading">The quick brown fox jumps over the lazy dog.</h6>
        </div>
      </div><!-- .grid__row -->
    </div><!-- .grid -->
  </article>
</main>
{% endblock %}
