{#
//
// Template: Layout
// Author: Graffino (http://www.graffino.com)
//
#}
<!DOCTYPE html>
<html class="no-js no-fonts">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width">

        <!-- Icon Names -->
        <meta name="apple-mobile-web-app-title" content="Gulp Flow">
        <meta name="application-name" content="Gulp Flow">
        <!-- End Icon Names -->

        <!-- Windows Phone Tile -->
        <meta name="msapplication-TileColor" content="#000">
        <meta name="msapplication-TileImage" content="../assets/images/touch-icon-transparent.png">
        <!-- End Windows Phone Tile -->

        <title>Gulp Flow</title>

        <!-- Author Information -->
        <link type="text/plain" rel="author" href="../humans.txt">
        <!-- End Author Information -->

        <!-- Touch Icons -->
        <link rel="mask-icon" href="../assets/images/pin-icon.svg" color="#000">
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
        <link rel="icon" type="image/png" href="../assets/images/touch-icon.png">
        <link rel="apple-touch-icon" href="../assets/images/touch-icon.png">
        <!-- End Touch Icons -->

        <!-- Preconnect -->
        <link rel="preconnect" href="//domainname.tld">

        <!-- Load CSS -->
        <script>
            function loadCSS(e,n,o,t){"use strict";var d=window.document.createElement("link"),i=n||window.document.getElementsByTagName("script")[0],r=window.document.styleSheets;return d.rel="stylesheet",d.href=e,d.media="only x",t&&(d.onload=t),i.parentNode.insertBefore(d,i),d.onloadcssdefined=function(e){for(var n,o=0;o<r.length;o++)r[o].href&&r[o].href===d.href&&(n=!0);n?e():setTimeout(function(){d.onloadcssdefined(e)})},d.onloadcssdefined(function(){d.media=o||"all"}),d}
            loadCSS( "../assets/css/main.css" );
        </script>
        <noscript>
            <link rel="stylesheet" href="../assets/css/main.css">
        </noscript>
        <!-- End Load CSS -->
    </head>
    <body class="home">
        <!-- Partial: header -->
        {% include "partials/_language_/header.njk" | replace("_language_", language) %}
        <!-- End partial: header -->

        <!-- Block: content -->
        {% block content %}{% endblock %}
        <!-- End block: content -->

        <!-- Partial: footer -->
        {% include "partials/_language_/footer.njk" | replace("_language_", language) %}
        <!-- End partial: footer -->

        <!-- ! Javascript -->
        <script src="../assets/js/main.js" async></script>
    </body>
</html>
