{#
  Partial: Footer
  Author: Graffino (http://www.graffino.com)
#}
<footer class="section footer">
  <div class="container">
    <div class="copyright">
      <p class=" text -size-small -color-grey-alt -weight-normal">&copy; Copyright 2019 Gulp Flow. All rights reserved.</p>
    </div>
  </div><!-- .container -->
</footer>
