//
// Buttons
// Author: Graffino (http://www.graffino.com)
//


/**
 * Standard button
 */

.button {

    &.-color-red {

    }

    &.-color-grey {

    }

    &.-size-medium {

    }

    &.-align-center {

    }
}
