//
// Forms
// Author: Graffino (http://www.graffino.com)
//


/**
 * Standard form
 */

.form {
    cf();

    &__label {

    }

    &__input,
    &__textarea,
    &__select {

        &:hover {

        }

        &:focus,
        &:active {

        }

        &::placeholder {

        }

    }

    &__input { }
    &__textarea {}

    &__field {
        cf();
    }

    &__notice {
        display: none;
    }
}
