//
// Custom grid
// Author: Graffino (http://www.graffino.com)
//


/**
 * Grid
 */

// Container
.grid {
    center(rem($width-container), pad = rem(10));

    &.is-debug {
        edit();
        * {
            transition: transition-custom($property = background);
        }
    }

    // Row
    &__row {
        cf();
    }

    // Column
    &__column {
        &.-one {
            col(1/12);
        }
        &.-two {
            col(2/12);
        }
        &.-three {
            col(3/12);
        }
        &.-four {
            col(4/12);
        }
        &.-five {
            col(5/12);
        }
        &.-six {
            col(6/12);
        }
        &.-seven {
            col(7/12);
        }
        &.-eight {
            col(8/12);
        }
        &.-nine {
            col(9/12);
        }
        &.-ten {
            col(10/12);
        }
        &.-eleven {
            col(11/12);
        }
        &.-twelve {
            col(12/12);
        }
        &.-offset-right {
            &-one {
                shift(1/12);
            }
            &-two {
                shift(2/12);
            }
            &-three {
                shift(3/12);
            }
            &-four {
                shift(4/12);
            }
            &-five {
                shift(5/12);
            }
            &-six {
                shift(6/12);
            }
            &-seven {
                shift(7/12);
            }
            &-eight {
                shift(8/12);
            }
            &-nine {
                shift(9/12);
            }
            &-ten {
                shift(10/12);
            }
            &-eleven {
                shift(11/12);
            }
            &-twelve {
                shift(12/12);
            }
        }
        &.-offset-left {
            &-one {
                shift(-1/12);
            }
            &-two {
                shift(-2/12);
            }
            &-three {
                shift(-3/12);
            }
            &-four {
                shift(-4/12);
            }
            &-five {
                shift(-5/12);
            }
            &-six {
                shift(-6/12);
            }
            &-seven {
                shift(-7/12);
            }
            &-eight {
                shift(-8/12);
            }
            &-nine {
                shift(-9/12);
            }
            &-ten {
                shift(-10/12);
            }
            &-eleven {
                shift(-11/12);
            }
            &-twelve {
                shift(-12/12);
            }
        }
    }

    // Spans
    &__span {
        &.-one {
            span(1/12);
        }
        &.-two {
            span(2/12);
        }
        &.-three {
            span(3/12);
        }
        &.-four {
            span(4/12);
        }
        &.-five {
            span(5/12);
        }
        &.-six {
            span(6/12);
        }
        &.-seven {
            span(7/12);
        }
        &.-eight {
            span(8/12);
        }
        &.-nine {
            span(9/12);
        }
        &.-ten {
            span(10/12);
        }
        &.-eleven {
            span(11/12);
        }
        &.-twelve {
            span(12/12);
        }
        &.-offset-right {
            &-one {
                shift(1/12);
            }
            &-two {
                shift(2/12);
            }
            &-three {
                shift(3/12);
            }
            &-four {
                shift(4/12);
            }
            &-five {
                shift(5/12);
            }
            &-six {
                shift(6/12);
            }
            &-seven {
                shift(7/12);
            }
            &-eight {
                shift(8/12);
            }
            &-nine {
                shift(9/12);
            }
            &-ten {
                shift(10/12);
            }
            &-eleven {
                shift(11/12);
            }
            &-twelve {
                shift(12/12);
            }
        }
        &.-offset-left {
            &-one {
                shift(-1/12);
            }
            &-two {
                shift(-2/12);
            }
            &-three {
                shift(-3/12);
            }
            &-four {
                shift(-4/12);
            }
            &-five {
                shift(-5/12);
            }
            &-six {
                shift(-6/12);
            }
            &-seven {
                shift(-7/12);
            }
            &-eight {
                shift(-8/12);
            }
            &-nine {
                shift(-9/12);
            }
            &-ten {
                shift(-10/12);
            }
            &-eleven {
                shift(-11/12);
            }
            &-twelve {
                shift(-12/12);
            }
        }
    }
}
