//
// Header block
// Author: Graffino (http://www.graffino.com)
//


/**
 * Main header
 */

.header {
    cf();

    &__logo {
        display: inline-block;
    }

    &__nav {
        position: relative;
    }
}
