//
// Header block
// Author: Graffino (http://www.graffino.com)
//


/**
 * Main header
 */

.header {
    clearfix();

    &__logo {
        display: inline-block;

        .logo {
            &__anchor {
                display: inline-block;
            }

            &__image {
                vertical-align: top;
            }
        }
    }

    &__nav {
        position: relative;
    }
}
