//
// Name: Helpers
// Author: Graffino (http://www.graffino.com)
//

.h {
    // Show only on specific viewport size
    &-show-for {
        &-large-up {
            +below($large) {
                display: none !important;
            }
        }
        
        &-large-down {
            +above($large + 1) {
                display: none !important;
            }
        }
        
        &-medium-up {
            +below($medium) {
                display: none !important;
            }
        }
        
        &-medium-down {
            +above($medium + 1) {
                display: none !important;
            }
        }
        
        &-tablet-up {
            +below($tablet) {
                display: none !important;
            }
        }
        
        &-tablet-down {
            +above($tablet + 1) {
                display: none !important;
            }
        }
        
        &-small-up {
            +below($small) {
                display: none !important;
            }
        }
        
        &-small-down {
            +above($small + 1) {
                display: none !important;
            }
        }
    }
    
    // Hide for specific viewport size
    &-hide-for {
        &-medium-up {
            +above($medium + 1) {
                display: none !important;
            }
        }
        
        &-medium-down {
            +below($medium) {
                display: none !important;
            }
        }
        
        &-tablet-up {
            +above($tablet + 1) {
                display: none !important;
            }
        }
        
        &-tablet-down {
            +below($tablet) {
                display: none !important;
            }
        }
        
        &-small-up {
            +above($small +1) {
                display: none !important;
            }
        }
        
        &-small-down {
            +below($small) {
                display: none !important;
            }
        }
    }
    
    // Center for specific viewport size
    &-center-for {
        &-medium-down {
            +below($medium) {
                text-align: center;
            }
        }
        
        &-tablet-down {
            +below($tablet) {
                text-align: center;
            }
        }
        
        &-small-down {
            +below($small) {
                text-align: center;
            }
        }
    }
    
    // Make image responsive
    &-responsive-image {
        width: 100%;
        height: auto;
    }

    // Hide element visually without removing it
    &-visually-hidden {
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
    }
    
    // Overflow hidden
    &-overflow {
        &-hidden {
            overflow: hidden;
        }
    }
    
    // Alignment
    &-align-left {
        text-align: left !important;
    }
    
    &-align-right {
        text-align: right !important;
    }
    
    &-align-center {
        text-align: center !important;
    }

    // Floats
    &-float-left {
        float: left;
    }
    
    &-float-right {
        float: right;
    }
    
    &-clear {
        cf();
    }

    // Text case
    &-case-normal {
        text-transform: none;
    }
    
    &-case-uppercase {
        text-transform: uppercase;
    }
    
    // Text color
    &-color-inherit {
        color: inherit !important;
    }
    
    // Center
    &-center {
        margin-right: auto;
        margin-left: auto;
    }
    
    // Paddings
    &-no-padding {
        padding: 0 !important;
    }
    
    &-no-padding-top {
        padding-top: 0 !important;
    }
    
    &-no-padding-bottom {
        padding-bottom: 0 !important;
    }
    
    &-no-padding-right {
        padding-right: 0 !important;
    }
    
    &-no-padding-left {
        padding-left: 0 !important;
    }
    
    // Margins
    &-margin-bottom {
        &-1 {
            margin-bottom: rem($unit);
        }
    }
    
    &-no-margin {
        margin: 0 !important;
    }
    
    &-no-margin-top {
        margin-top: 0 !important;
    }
    
    &-no-margin-bottom {
        margin-bottom: 0 !important;
    }
    
    &-no-margin-right {
        margin-right: 0 !important;
    }
    
    &-no-margin-left {
        margin-left: 0 !important;
    }
    
    // Align vertically via table method
    &-vertical-align {
        display: table-cell;
        vertical-align: middle;
    }

    // Set viewport width / height
    &-viewport-height {
        min-height: 100vh;
    }
    
    &-viewport-width {
        min-width: 100vh;
    }
    
    // Height 100%
    &-full-height {
        min-height: 100%;
    }

    // Disable pointer events
    &-no-pointer-events {
        pointer-events: none;
    }
    
    // Word-break
    &-word-break {
        &-all {
            word-break: break-all;
        }
    }
    
    // Opacity
    &-opacity {
        &-20 {
            opacity: 0.2;
        }
        
        &-40 {
            opacity: 0.4;
        }
    }
    
    // Z Indexes
    &-z-index {
        &-10 {
            z-index: 10 !important;
        }
        &-20 {
            z-index: 20 !important;
        }
        &-30 {
            z-index: 30 !important;
        }
        &-40 {
            z-index: 40 !important;
        }
        &-50 {
            z-index: 50 !important;
        }
        &-60 {
            z-index: 60 !important;
        }
        &-70 {
            z-index: 70 !important;
        }
        &-80 {
            z-index: 80 !important;
        }
        &-90 {
            z-index: 90 !important;
        }
        &-100 {
            z-index: 100 !important;
        }
    }
}
