//
// Typography
// Author: Graffino (http://www.graffino.com)
//


/**
 * Font rendering
 */

html {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    font-feature-settings: "kern";
}


/**
 * Headings
 */

$h1-alt {
    font-family: $heading-huge-font-family;
    font-size: $heading-huge-font-size;
    font-weight: $heading-huge-font-weight;
    line-height: $heading-huge-line-height;

    // Default font-family until webfonts are loaded
    .no-fonts & {
        font-family: $system-serif-fontface-stack;
    }
}
$h1 {
    font-family: $height-xl-font-family;
    font-size: $height-xl-font-size;
    font-weight: $height-xl-font-weight;
    line-height: $height-xl-line-height;

    // Default font-family until webfonts are loaded
    .no-fonts & {
        font-family: $system-serif-fontface-stack;
    }
}

$h2 {
    font-family: $heading-large-font-family;
    font-size: $heading-large-font-size;
    font-weight: $heading-large-font-weight;
    line-height: $heading-large-line-height;

    // Default font-family until webfonts are loaded
    .no-fonts & {
        font-family: $system-serif-fontface-stack;
    }
}

$h3 {
    font-family: $heading-normal-font-family;
    font-size: $heading-normal-font-size;
    font-weight: $heading-normal-font-weight;
    line-height: $heading-normal-line-height;

    // Default font-family until webfonts are loaded
    .no-fonts & {
        font-family: $system-serif-fontface-stack;
    }
}

$h4 {
    font-family: $heading-medium-font-family;
    font-size: $heading-medium-font-size;
    font-weight: $heading-medium-font-weight;
    line-height: $heading-medium-line-height;

    // Default font-family until webfonts are loaded
    .no-fonts & {
        font-family: $system-sans-fontface-stack;
    }
}

$h5 {
    font-family: $heading-small-font-family;
    font-size: $heading-small-font-size;
    font-weight: $heading-small-font-weight;
    line-height: $heading-small-line-height;

    // Default font-family until webfonts are loaded
    .no-fonts & {
        font-family: $system-sans-fontface-stack;
    }
}

$h6 {
    font-family: $heading-xsmall-font-family;
    font-size: $heading-xsmall-font-size;
    font-weight: $heading-xsmall-font-weight;
    line-height: $heading-xsmall-line-height;

    // Default font-family until webfonts are loaded
    .no-fonts & {
        font-family: $system-sans-fontface-stack;
    }
}


/**
 * Heading
 */

.heading {
    position: relative;
    color: $color-heading;

    // Colors
    &.-color-white {
        color: white;
    }

    // Weights
    &.-weight-normal {
        font-weight: 400;
    }
    &.-weight-bold {
        font-weight: 700;
    }
    &.-weight-black {
        font-weight: 800;
    }
    &.-weight-extra-black {
        font-weight: 800;
    }

    // Margins
    &.-no-margin {
        margin: 0;
    }
    &.-no-margin-top {
        margin-top: 0;
    }
    &.-no-margin-bottom {
        margin-bottom: 0;
    }

    // Sizes
    &.-size-huge {
        font-size: $heading-huge-font-size;
        line-height: $heading-huge-line-height;
    }
    &.-size-xl {
        font-size: $height-xl-font-size;
        line-height: $height-xl-line-height;
    }
    &.-size-large {
        font-size: $heading-large-font-size;
        line-height: $heading-large-line-height;
    }
    &.-size-normal {
        font-size: $heading-normal-font-size;
        line-height: $heading-normal-line-height;
    }
    &.-size-medium {
        font-size: $heading-medium-font-size;
        line-height: $heading-medium-line-height;
    }
    &.-size-small {
        font-size: $heading-small-font-size;
        line-height: $heading-small-line-height;
    }
    &.-size-xsmall {
        font-size: $heading-xsmall-font-size;
        line-height: $heading-xsmall-line-height;
    }

    // Other
    &.-display-block {
        display: block;
    }
    &.-align-center {
        text-align: center;
    }
    &.-case-upper {
        text-transform: uppercase;
    }
    &.-no-break {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}


/**
 * Text
 */

.text {
    color: $color-text;
    font-size: $font-size-normal;

    // Colors
    &.-color-white {
        color: white;
    }

    // Sizes
    &.-size-huge {
        font-size: $font-size-huge;
        line-height: $line-height-huge;
    }
    &.-size-xl {
        font-size: $font-size-xl;
        line-height: $line-height-xl;
    }
    &.-size-large {
        font-size: $font-size-large;
        line-height: $line-height-large;
    }
    &.-size-normal {
        font-size: $font-size-normal;
        line-height: $line-height-normal;
    }
    &.-size-medium {
        font-size: $font-size-medium;
        line-height: $line-height-medium;
    }
    &.-size-small {
        font-size: $font-size-small;
        line-height: $line-height-small;
    }
    &.-size-xsmall {
        font-size: $font-size-xsmall;
        line-height: $line-height-xsmall;
    }

    // Weights
    &.-weight-normal {
        font-weight: 400;
    }
    &.-weight-bold {
        font-weight: 700;
    }
    &.-weight-black {
        font-weight: 800;
    }

    // Others
    &.-align-center {
        display: block;
        text-align: center;
    }
}


/**
 * Links
 */

.link {
    position: relative;
    display: inline-block;

    &:hover {

    }
}
